
<div style="width: 400px;"><a href="<?php echo $this->getUrl('blog/post') ?>"> <- Back</a> <div>

<div><i><?php echo $this->getModifiedDate() ?></i></div>
<h4><?php echo $this->stripTags($this->getTitle()) ?></h4>

<?php if ($this->getImage() != ''): ?>
    <div style="float: left;"><img width="400" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . '/blog/' . $this->getImage() ?>"></div>
<?php endif ?>

<p><?php echo $this->getDescription() ?></p>
