<?php $collection = $this->getCollection();  ?>
    <div class="page-title">
        <h1><?php echo $this->__('My Collection') ?></h1>
    </div>
<?php echo $this->getToolbarHtml(); ?>
    <table class="data-table" id="my-custom-table">
        <thead>
        </thead>
        <tbody>
        <?php $_odd = ''; ?>
        <?php foreach ($collection as $item): ?>
            <tr>
                <td>

                    <?php if ($item->getData('image') != ''): ?>
                        <div style="float: left; width: 300px;"><img width="250" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . '/blog/' . $item->getData('image'); ?>" /></div>
                    <?php endif; ?>

                    <div>
                        <?php echo '<i>' . date("d-m-Y", $item->getData('modified_date')) . '</i>'; ?>
                        <h4><?php echo $this->stripTags($item->getData('title')); ?></h4>
                        <p style="font-size: 17px;"><a href="<?php echo $this->getUrl('blog/post/comment', array('id'=> $item->getId()) ) ?>">More...</a></p>

                    </div>
                </td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
<?php echo $this->getToolbarHtml(); ?>